.jma-weather-title {
    font-weight: bold;
    font-size: 1.08em;
}

.jma-weather-alert {
    font-weight: bold;
}

.jma-weather-day {
    padding-top: 4px;
    padding-bottom: 4px;
}

.popup-menu-item .popup-menu-item-label {
    max-width: 480px;
}
